/* formEdit.css */

/* Estilos para el contenedor del formulario de edición */
.edit-form-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #e2e8f0;
    border-radius: 8px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    background-color: #fff;
  }
  
  /* Estilos para el título del formulario de edición */
  .edit-form-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  /* Estilos para el formulario de edición */
  form {
    display: flex;
    flex-direction: column;
  }
  
  /* Estilos para las etiquetas de los campos del formulario */
  label {
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  /* Estilos para los campos de entrada del formulario */
  input {
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  /* Estilos para los botones del formulario */
  .form-buttons {
    display: flex;
    justify-content: space-between;
  }
  
  button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* Estilos específicos para el botón de "Update" */
  button[type="submit"] {
    background-color: #4caf50; /* Color verde */
    color: #fff;
  }
  
  /* Estilos específicos para los botones de "Cancel" y "Volver" */
  button[type="button"] {
    background-color: #ccc; /* Color gris */
    color: #333;
  }
  
  